body {
  margin: 0;
  max-height: 400px;
  font-family: "Inter", sans-serif;
  font-family: "Kaushan Script", cursive;
  font-family: "Lobster Two", cursive;
  font-family: "Patua One", cursive;
}

/*hearder design*/
.nav {
  background-color: #283618;
  padding: 0 50px 0px 50px;
  box-sizing: border-box;
  width: 100%;
  height: 12vh;
  position: relative;
  display: flex;
}

.logo {
  color: #fefae0;
  font-family: "Kaushan Script", cursive;
  position: absolute;
  width: 20%;
  top: 30%;
  float: left;
}
.logoCapital {
  font-style: bolder;
  font-size: 40px;
  font-weight: 800px;
  font-family: Inter;
  margin: 0;
}
.searchBar {
  height: 45px;
  background-color: #fefae0;
  left: 50%;
  top: 50%;
  width: 40%;
  position: relative;
  border-radius: 40px;
  justify-content: center;
  transform: translate(-50%, -50%);
  display: flex;
}
.searchInput {
  background-color: #fefae0;
  width: 82%;
  height: 95%;
  margin-left: 15px;
  padding: 0px;
  border: none;
}

.searchBtn {
  border: none;
  background-color: #fefae0;
  padding: 0px;
  height: 45px;
  margin-left: 20px;
  border-radius: 5px 20px 20px 5px;
}
.searchImg {
  width: 90%;
  height: 45px;
  margin: 0px;
}
.searchImg:hover {
  opacity: 0.8;
}
.searchInput {
  outline: none;
  caret-color: #7c7979;
  font-size: 18px;
  line-height: 20px;
}
.searchInput::placeholder {
  font-size: 17px;
  opacity: 0.4;
}
.humbugerMenu {
  display: none;
}
/* main body FirstMain*/
.main {
  display: flex;
}
.firstMain {
  width: 33vw;
  height: 100vh;
  background-color: #b2c186;
  /* background-color: linear-gradient(135deg#b2c186, #ffff);
  backdrop-filter: blur(10px
  -webkit-backdrop-filter: blur(10px);*/
  position: relative;
  align-items: center;
  padding: 0px 10px 0px 10px;
}
.dateTime {
  width: 100%;
  color: #283618;
  height: 8%;
}
.date {
  width: 60%;
  float: left;
}
.time {
  width: 20%;
  float: right;
}
.todaysWeather {
  color: #fefae0;
  padding: 5%;
}
.Degree {
  font-size: 80px;
}
.lowerCase {
  font-size: 12px;
}

.temp {
  height: 33%;
  text-align: center;
  background-color: #283618;
  border-radius: 10px;
}
.humAndPre {
  width: 100%;
  background-color: #ffffff;
  height: 13%;
  margin-top: 18px;
  display: flex;
  border-radius: 18px;
  justify-content: space-evenly;
  align-items: center;
}

.humidityAndPressure {
  width: 30px;
  height: 30px;
  margin-right: 0px;
  padding: 0px;
}
.humLable {
  color: #b2c186;
  font-size: 17px;
}
#lableNo {
  color: #283618;
}

/* -----sunrise animation------*/

.sunRise {
  margin-top: 20px;
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation: sky 30s infinite, circle 30s infinite;
  background: radial-gradient(
    ellipse at bottom,
    hsl(17, 89%, 44%),
    rgb(249, 161, 46),
    rgb(238, 238, 68)
  );
}

.sunMoon {
  width: 100px;
  height: 100px;


  border-radius: 50%;
  animation-name: cricle;
  animation-iteration-count: infinite;
  position: relative;
  animation-duration: 30s;
  top: 80%;
  background-color: #fcd14d;
}
/*sunrise: sun:E67451  sky:ebc89c
early morning sun:fadb92  sky:abc0e3 
afternoon sun:FBCB78  sky:87ceeb
evening sun:FFE8C6 sky:#0c1445, #4c408e, #5c54a4, #38285c.
evening moon:7908 sky:
night moon:#f6f1d5	sky:#0c1445, #4c408e, #5c54a4, #38285c.*/
@keyframes cricle {
  0% {
    /*sunRise*/
    top: 80%;
    background: #e67451;
    filter: drop-shadow(10px 10px 250px rgb(2, 0, 0));
  }
  15% {
    /*early morning*/
    top: 60%;
    filter: drop-shadow(10px 10px 250px rgb(44, 1, 1));
    background-color: #fadb92;
  }
  25% {
    background-color: #fbcb78;
    top: 30%;
    filter: drop-shadow(10px 10px 150px red);
  }
  50% {
    background-color: #f99e16;
    filter: drop-shadow(10px 10px 100vw rgb(255, 0, 0));
    top: 0%;
  }
  60% {
    /*early evening*/
    background-color: #f6f1d5;
    top: 50%;
  }
  70% {
    /*sun to moon transition*/
    background-color: #f6f1d5;
    top: 80%;
  }
  80% {
    /*moon light */
    background-color: #f6f1d5;
    filter: blur(yellow);
    top: 50px;
  }
  100% {
    /*moon light */
    background-color: #f6f1d5;
    filter: blur(yellow);
    top: 0px;
  }
}
@keyframes sky {
  0% {
    /*sun Rise*/
    background: radial-gradient(
      ellipse at bottom,
      hsl(17, 89%, 44%),
      rgb(249, 161, 46),
      rgb(238, 238, 68)
    );
  }

  15% {
    /*early morning*/
    background: radial-gradient(
      ellipse at bottom,
      hsl(17, 89%, 44%),
      rgb(249, 161, 46),
      rgb(183, 235, 239)
    );
  }

  25% {
    /*Afternoon*/
    background: radial-gradient(
      at 50% 50%,
      hsl(0, 0%, 98%),
      rgb(67, 183, 250),
      rgb(183, 235, 239)
    );
  }
  50% {
    background: radial-gradient(
      at 80% 50%,
      hsl(0, 0%, 98%),
      rgb(67, 183, 250),
      rgb(183, 235, 239)
    );
  }
  60% {
    /*early evening*/
    background: radial-gradient(
      at 80% 50%,
      hsl(0, 0%, 98%),
      rgb(67, 183, 250),
      rgb(183, 235, 239)
    );
    /*night moon:#a6b5c5	sky:#0c1445, #4c408e, #5c54a4, #38285c.*/
  }
  70% {
    /*sun to moon transition*/
    background: radial-gradient(
      ellipse at bottom,
      #050f61,
      #271781,
      #3c6bac,
      #bdd2f0
    );
  }
  80% {
    /*sun to moon transition*/
    background: radial-gradient(at 50% 50%, #0b145d, #070940, #080434, #000205);
  }
  100% {
    background: radial-gradient(at 50% 50%, #0b145d, #070940, #080434, #000205);
  }
}
/*SecMain*/
.secMain {
  float: left;
  width: 72vw;
  height: 100vh;
  background-image: url(images/bgFinal.png);
  background-size: cover;
}
.Card {
  justify-content: space-evenly;
  display: flex;
  margin: 40px 30px 40px 30px;
  opacity: 0.8;
  gap: 10px;
}
.card {
  width: 170px;
  height: 190px;
  background-color: #283618;
  border-radius: 10px;
  color: #fefae0;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#cardImg {
  width: 80px;
  height: 80px;
}
/*----line graph----*/
#lineGraph {
  margin: 20px auto;
  border: 2px solid #fff;
  width: 500px !important;
  height: 300px !important;
  border-radius: 20px;
  box-sizing: border-box;
}
.graphBox {
  background-color: rgba(192, 192, 192, 0.2);
  margin: 20px auto;
  border-radius: 20px;
  width: 500px;
}
/*-----------tab view ------------------*/

@media (max-width: 780px) {
  .nav {
    height: 30vh;
    display: grid;
    place-items: center;
  }
  .logo {
    transform: translate(0%, 50%);
    position: initial;
  }
  .searchBar {
    position: initial;
    margin-top: 45px;
    transform: translate(0%, -50%);
    width: 70%;
  }
  .firstMain {
    width: 50vw;
  }
  .humLable {
    font-size: 11px;
  }
  .time {
    font-size: 10px;
      width: 20%;
  }
  .date {
    font-size: 10px;
      width: 75%;
  }
  .humidityAndPressure {
    width: 20px;
    height: 20px;
  }
  .Card {
    margin: 30px 20px 30px 20px;
    gap: 10px;
  }
  .card {
    width: 120px;
    height: 150px;
    background-color: #283618;
    border-radius: 10px;
  }
}

/**************Mobile view***********************/

@media (max-width: 560px) {
  .nav {
    height: 13vh;
    position: relative;
    display: flex;
    padding: 0 20px 0px 20px;
    width: 100vw;
  }
  .logo {
    float: left;
    width: 25%;
    top: 10%;
    position: absolute;
  }
  .logoCapital {
    font-style: bolder;
    font-size: 25px;
    font-weight: 80px;
    font-family: Inter;
    margin: 0;
  }
  .searchBar {
    display: none;
  }
  .humbugerMenu {
    display: initial;
    position: absolute;
    left: 87%;
  }
  .main {
    display: inline;
  }
  .firstMain {
    width: 96vw;
    height: 600px;
  }

  .temp {
    height: 40%;
    margin: 20px;
    border-radius: 450px;
  }
  .humAndPre {
    width: 80%;
    margin: 50px 20px 20px 50px;
  }
  .sunRise {
    height: 25%;
    width: 80%;
    margin: 50px 0px 0px 50px;
  }
  .todaysWeather {
    padding: 50px;
  }
  .humLable {
    font-size: 18px;
  }
  .humidityAndPressure {
    width: 50px;
    height: 50px;
  }
  .secMain {
    float: none;
    width: 100vw;
    height: 230vh;
    background-image: url(images/bgphone.png);
  }
  .Card {
    display: initial;
  }
  .card {
    width: 280px;
    height: 280px;
    margin: 30px auto;
  }
  #lineGraph {
    margin: 10px auto;
    border: 2px solid #fff;
    width: 350px !important;
    height: 200px !important;
    border-radius: 10px;
  }
  .graphBox {
    background-color: rgba(192, 192, 192, 0.2);
    margin: 10px auto;
    border-radius: 20px;
    width: 350px;
  }
}
